<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sahil.gupte.HomeCalc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sahil.gupte.HomeCalc.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".Auth.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Auth.SignupActivity"
            android:label="SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Auth.ResetPasswordActivity"
            android:label="ResetPassActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Auth.PostSignupActivity"
            android:label="PostSignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>